* {
    padding: 0;
    margin: 0;
}

body {
    height: 1vh;
}

.typed-input {
    position: relative;
    top: 100px;
    height: 200px;
    width: 455px;
    margin: auto;
}

.typed-td {
    padding: 10px;
}

.eval-check {
    position: relative;
    top: 180px;
    height: 290px;
    width: 290px;
    margin: auto;
}

.rb-text {
    position: relative;
    top: -1px;
}

#check {
    margin-top: 10px;
    margin-right: 5px;
}